/* start global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

html {
	font-size: 18px;
	line-height: 1.5;
}

.label {
	font-style: italic;
	opacity: 0.9;
}
/* end global */

/*start meal container*/
.recipe {
	width: 800px;
	margin: 0 auto;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	min-height: 100vh;
}

.recipe__name {
	line-height: 1;
	font-size: 2.5em;
}

.recipe-category {
	font-style: italic;
	opacity: 0.6;
}

.recipe__inner {
	display: flex;
	align-self: stretch;
	justify-content: space-between;
	padding: 50px 30px 0;
}

.recipe__ingredients-container {
	align-self: flex-start;
}

.recipe__ingredients {
	padding-left: 39px;
}


.recipe__img {
	width: 300px;
	height: auto;
	align-self: flex-start;
}

.recipe__instructions-container {
	align-self: stretch;
	padding: 50px 30px;
}

.recipe__instructions {
	padding-left: 20px;
}

.recipe__label {
	font-weight: bold;
}

.recipe__btn {
	border: none;
	border-radius: 5px;
	outline: 0;
	padding: 10px 20px;
	font-size: inherit;
	background-color: rgb(255,140,0);
}

.recipe__btn:hover {
	opacity: 0.8;
	cursor: pointer;
}
/*end meal container*/

/* start media queries */
/* for tablets */
@media only screen and (max-width: 900px) {

	/* global styles */
	body {
		background-color: #F5F5F5;
	}

	/* start recipe container */
	.recipe {
		width: 90vw;
	}

	.recipe__name {
		text-align: center;
		font-size: 2rem;
	}

	/* start recipe inner container */

	.recipe__inner {
		flex-direction: column;
		padding-top: 30px;
	}

	.recipe__ingredients-container {
		padding-top: 20px;
		align-self: flex-start;
		order: 1;
	}

	.recipe__ingredients {
		column-count: 2;
		column-gap: 25px;
	}

	.recipe__img {
		order: 0;
		width: 60%;
		align-self: center;
	}
	
	/* end ingredients/image container*/

	.recipe__instructions-container {
		width: inherit;
		padding-top: 20px;
	}
}

/* for for phones */

@media only screen and (max-width: 599px) {




}